html
{
    /*Needed when using doctype HTML, as it does not use the entire viewport.
      When doctype is not specified, the page is rendered in quirks mode which will 
      use the entire viewport.*/

    height: 100%;
    width: 100%;
}

body
{
    margin: 5%;
}

p #possibleWords
{
    height: 500px;
    overflow-y: scroll;
}

table
{
    margin: auto;
}

tr:hover
{
    background-color: aquamarine;
}

td
{
    border: 1px solid #000000;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 15px;
    width: 20%;
    user-select: none;
}

.flex-container 
{
    display: flex;
}

.flex-child 
{
    flex-flow: row wrap;
    text-align:center;
    margin-right: 5%;
}